<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">

    <listeners>
        <listener class-name="TestComponents.Listeners"/>
    </listeners>
    <test name = "Test Demo">
        <classes>
            <class name = "FinalActivity.tests.Runner.TestRunner"/>
        </classes>
    </test>
<!--    <test verbose="2" preserve-order="true" name="Final Activity">-->

<!--        <classes>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.ButtonStepDefinition"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.DynamicProperties"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.RadioButton"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.TextBox">-->
<!--                <methods>-->
<!--                    <include name="TxtBox"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.CheckBox"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.LinksStepDefinition"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Elements.WebTables"/>-->

<!--&lt;!&ndash;            Alerts and windows activity&ndash;&gt;-->
<!--            <class name="FinalActivity.tests.StepDefinitions.AlertsAndWindows.AlertStepDef">-->
<!--                <methods>-->
<!--                    <include name="alertPage"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.AlertsAndWindows.WindowsActivityStepDef"/>-->

<!--            &lt;!&ndash;            Practice form Activity&ndash;&gt;-->
<!--            <class name="FinalActivity.tests.StepDefinitions.PracticeForm.PracticeFormTest">-->
<!--                <methods>-->
<!--                    <include name="PracticeForm"/>-->
<!--                </methods>-->
<!--            </class>-->

<!--        &lt;!&ndash;Interactions&ndash;&gt;-->
<!--            <class name="FinalActivity.tests.StepDefinitions.Interactions.SelectableCopy"/>-->

<!--            &lt;!&ndash;Widgets&ndash;&gt;-->

<!--            <class name="FinalActivity.tests.StepDefinitions.WidgetsAct.AutoSuggestStepDef"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.WidgetsAct.DatePickerStepDef"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.WidgetsAct.ProgressBarStepDef"/>-->
<!--            <class name="FinalActivity.tests.StepDefinitions.WidgetsAct.SelectMenuStepDef"/>-->


<!--        </classes>-->
<!--    </test>-->
</suite>


